@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}
/* root color ko stro karne ki liya (bar bar chnge karne ki jurta ni hoti hai} */
:root{
  --load:#212121;
  --gold-finger:#f2bd12;
  --eye-ball:#fffdf7;
  --hint--yellow:#fcf1cc;
  --pure-white:#fff; 
}
body{
  background: var(--eye-ball);
}
/* basics styling */
a{
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--load);
}

.flex{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.flex img{
  font-size: 1.1rem;
}
li{
  list-style: none;
}
li:hover{
  box-shadow: 2px 2px 5px 1px black;
}
.between{
  justify-content: space-between;
}
.gap-3{
  gap: 3rem;
}
.gap-2{
  gap: 2rem;
}
.wrapper{
  max-width: 1400px;
  
  margin: auto;
  padding-inline: 1.5rem;
}
img{
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
}
.p-top{
  padding-top: 10rem;
}
.text-center{
  text-align: center;
}
.mt-4{
  margin-top: 4rem;
}



/* header styling */
.navbar{
  min-height: 14vh;
}
.logo{
  font-size: 2rem;
  font-weight: bold;
  color: #f2bd12;
}
.logo:hover{
  box-shadow: 2px 2px 7px 1px #f2bd12;
}
.logo i{
  box-shadow: 2px 2px 9px 1px rgba(0, 0, 0, 0.148) ;
}
.btn{
  display: inline-block;
  padding: .9rem;
  background: var(--gold-finger);
  border-radius: 1rem;
  font-size: 1.1rem ;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.002) 0 2px 1px;
  transition: .3s ease-in-out;
}
.btn:hover{
  background: var(--load);
}
.cart-icon{
 
  font-size: 1.3rem;
  position: relative;
}
.cart-icon .cart-value{
  position: absolute;
  top: 50%;
  right: -10px;
  font: .85rem;
  width: 20px;
  aspect-ratio: 1;
  border-radius: 100vw;
  background: var(--gold-finger);
  color: var(--load);
  text-align: center;
  line-height: 20px;
}
.desktop-action .hamburger{
  font-size: 1.5rem;
  display: none;
}
.mobile-menu{
  display: none;
}
/* section style */
.hero-section{
  min-width: calc(100vh - 14vh);
}
.content,
.image-container,.service-card{
  flex: 1;
  flex-basis: 300px;
}

h1{
  font-size: 5.6vw;
  color: var(--load);
}
h1 span{
  color: var(--gold-finger);
}

p{
  font-size: 1.2rem;
  color: gray;
  line-height: 1.8rem;
  font-weight: 400;
}

.para{
  margin-block: 2rem;
  max-width: 550px;
}
.social-icon{
  background: var(--hint--yellow);
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 1;
  font-size: 1.2rem;
  text-align: center;
  line-height: 3rem;
  box-shadow: rgba(0, 0, 0, 0.002) 0 2px 1px;
transition: .3s ease-in-out;
}
.social-icon:hover{
  background: var(--load);
  color: var(--pure-white);
}
/* section 01 */
h5{
  font-size: 1.2rem;
  letter-spacing: .2rem;
  color: var(--gold-finger);
  text-transform: uppercase ;
}
h2{
  font-size: 3.7rem ;
  text-transform: capitalize;
  color: var(--load);
}
h3{
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--load);

}
.service-card h3{
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

/* media query */
@media screen  and (max-width: 780px){
/* header styling */
  .navlist,
  .desktop-action .btn{
    display: none;
  }
  .desktop-action .hamburger{
    display: block;
  }
  .mobile-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: absolute;
    top: 20%;
    left: -100%;
    transform: translateX(-50%) ;
    width: 20rem;
    padding: 2rem;
    background: var(--pure-white);
    border: .1rem solid var(--gold-finger);
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.048) 8px 8px 8px,
     rgba(0, 0, 0, 0.048) 8px 8px 8px inset;
     transition: all .5s ease-in-out;
  }
  .mobile-menu-active{
    left: 50%;
    transform: translateX(-50%);
  }
  /* section styling */
  /* hero styling */
  h1{
    font-size: 5rem;
  }
  .content{
    padding-top: 3rem;
  }
  .gap-2{
    gap: 1.4rem;
  }
  .gap-4{
    gap: 4rem;
  }
  /* section 01 */
  h2{
    font-size: 3rem ;
  }
}
  
